.burgerIngredients {
  max-width: 600px;
  width: 100%;
}

.tabsWrapper {
  display: flex;
  overflow: hidden;
}

.listWrapper {
  padding-right: 7px;
  max-height: calc(100vh - 300px);
  overflow-y: scroll;
  position: relative;
}

.groupWrapper {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.ingredient {
  width: 50%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.ingredient svg {
  transition: fill 0.3s ease-in-out;
}

.ingredient:hover {
  color: var(--text-inactive-color);
}

.ingredient:hover svg {
  fill: var(--text-inactive-color);
}
